.app-container{
  position: relative;
  width: 100%;
  height: 800px;
}
.nav{
  width: 100%;
  height: 80px;
  padding: 0 20px;
}
.app-title {
  color: #b2f7e3;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

/* .app-footer {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: #CF8488;

}

.app-footer p {
  font-size: 24px;
  color: white;
} */
.outlandSection{
  background-color: #888;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.cera{
  position: absolute;
  width: 400px;
  top: 95%;
  left: 99%;
  transform: translate(-100%, -100%);
}
.nuvemGorda{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.nuvemEsticada{
  position: absolute;
  left: 97%;
  transform: translateX(-100%);
}