

.macro-button {
width: 300px;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  background-color: #D8878E;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 150px;
  transition: filter 0.2s;
  text-align: left;        
}

.macro-button:hover {
  filter: brightness(0.95);
}

.macro-button:disabled {
  background-color: #FFC107;
  cursor: default;
}


.macro-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  position: relative;

}
.macro-button-status {
  position: absolute;
  left: 98%;
  top: 50%;
transform: translate(-100%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  background: linear-gradient(180deg, #3a3a3a 0%, #1a1a1a 100%);
  border: 1px solid #000;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 0 #000, 0 6px 8px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.1);
  transition: all 0.1s;
}
